<%= form_with model: @list do |f| %>
  <%= f.text_field :list_name, placeholder:"リスト名" %>
  <div class='list-form'>
    <%= f.text_field :name1, placeholder:"参加者名" %>
    <%= f.text_field :name2, placeholder:"参加者名" %>
    <%= f.text_field :name3, placeholder:"参加者名" %>
    <%= f.text_field :name4, placeholder:"参加者名" %>
    <%= f.text_field :name5, placeholder:"参加者名" %>
    <%= f.text_field :name6, placeholder:"参加者名" %>
    <%= f.text_field :name7, placeholder:"参加者名" %>
    <%= f.text_field :name8, placeholder:"参加者名" %>
    <%= f.text_field :name10, placeholder:"参加者名" %>
    <%= f.text_field :name11, placeholder:"参加者名" %>
    <%= f.text_field :name12, placeholder:"参加者名" %>
    <%= f.text_field :name13, placeholder:"参加者名" %>
    <%= f.text_field :name14, placeholder:"参加者名" %>
    <%= f.text_field :name15, placeholder:"参加者名" %>
    <%= f.submit "編集" %>
  </div>
  <% end %>
</div>