<%= link_to 'リスト作成', new_list_path %>
<% @lists.each do |list| %>
  <div class='lists-rap'>
    <div class='list-name'>
      <%= list.list_name%>
    </div>
    <div class='list'>
      <td><%= list.name1 %></td>
      <td><%= list.name2 %></td>
      <td><%= list.name3 %></td>
      <td><%= list.name4 %></td>
      <td><%= list.name5 %></td>
      <td><%= list.name6 %></td>
      <td><%= list.name7 %></td>
      <td><%= list.name8 %></td>
      <td><%= list.name9 %></td>
      <td><%= list.name10 %></td>
      <td><%= list.name11 %></td>
      <td><%= list.name12 %></td>
      <td><%= list.name13 %></td>
      <td><%= list.name14 %></td>
      <td><%= list.name15 %></td>
  </div>
<% end %>