<%= render "shared/second-header" %>
<div class='contents'>
  <%= flash[:update] %>
  <%= flash[:destroy] %>
  <%= flash[:notDestroy] %>
  <div class='lists-rap'>
    <div class='list-name'>
      <%= @list.list_name %>
    </div>
    <div class='list'>
      <ul>
        <li><%= @list.name2 %></li>
        <li><%= @list.name3 %></li>
        <li><%= @list.name4 %></li>
        <li><%= @list.name5 %></li>
        <li><%= @list.name6 %></li>
        <li><%= @list.name7 %></li>
        <li><%= @list.name8 %></li>
        <li><%= @list.name9 %></li>
        <li><%= @list.name10 %></li>
        <li><%= @list.name11 %></li>
        <li><%= @list.name12 %></li>
        <li><%= @list.name13 %></li>
        <li><%= @list.name14 %></li>
        <li><%= @list.name15 %></li>
      </ul>
    </div>
    <%= link_to '削除', list_path, method: :delete %>
  </div>
</div>