<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field-group">
    <div class="form-text-rap">
      <label class=form-text>プロフィール画像</label>
      <span class="indispensable">(任意)</span>
    </div>
    <%= f.file_field :image, class: 'hidden' %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>ニックネーム</label>
      <span class="indispensable">(必須)</span>
    </div>
    <%= f.text_field :nickname, placeholder:"nickname" %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>年齢</label>
      <span class="indispensable">(任意)</span>
    </div>
    <%= f.text_field :age %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>性別</label>
      <span class="indispensable">(任意)</span>
    </div>
    <%= f.select :gender, [["男性"],["女性"]], include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>メールアドレス</label>
      <span class="indispensable">(必須)</span>
    </div>
    <%= f.email_field :email, placeholder:"PC・携帯どちらでも可" %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>パスワード</label>
      <span class="indispensable">(必須)</span>
    </div>
    <%= f.password_field :password, placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class="form-group">
    <div class="form-text-rap">
      <label class=form-text>パスワード確認</label>
      <span class="indispensable">(必須)</span>
    </div>
    <%= f.password_field :password_confirmation, placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
