<h2>住所情報登録</h2>

<%= form_with model: @framework, url: framework_path, method: :post, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @framework %>

  <%= f.collection_select(:framework_id, Frame.all, :id, :name, {}, {class:"-select"}) %>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>