<div class='header-top-lain'>
</div>
<header class='my-page-header'>
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <ul class='left-list'>
    <li><%= link_to 'ルーム作成', new_room_path %></li>
    <li><%= link_to 'リスト一覧',  lists_path %></li>
  </ul>
  <ul class='right-list'>
     <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
  </ul>
</header>
<div class='contents'>
  <div class='user-info'>
   <div class='image-rap'>
      <%= image_tag current_user.image.variant(resize: '200x200'), class: 'hidden' if current_user.image.attached? %>
    </div>
    <div class='user-rap'>
      <p><span class='info'>ユーザー名 :</span> <%= current_user.nickname %></p>
      <p><span class='info'>年齢 :</span> <%= current_user.age %></p>
      <p><span class='info'>性別 :</span> <%= current_user.gender %></p>
    </div>
  </div>
  <div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
        <%= link_to '参加者用ページを作成', room_path(room.id) %>
      </div>
    </div>
  <% end %>
</div>
------------
