<% case @user.framework.framework_id %>
  <% when 1 %>
    <%= stylesheet_link_tag "framework/simple", :media => "all" %>
  <% when 2 %>
    <%= stylesheet_link_tag "framework/colk", :media => "all" %>
  <% when 3 %>
    <%= stylesheet_link_tag "framework/cat", :media => "all" %>
<% end %> 
<div class='wrapper'>
  <%= render "shared/header" %>
  <div class='main'>
    <div class='user-info'>
      <%= render "follow_form" %>
      <%= render "stats" %>
      <div class='image-rap'>
        <% if @user.image.present? %>
          <%= image_tag user.image, class: 'user-image' if current_user.image.attached? %>
        <% else %>
          <%= image_tag "logo.png", class: 'user-image'%>
        <% end%>
      </div>
      <div class="user-rap">
        <p><span class='info'>ユーザー名 :</span> <%= @user.nickname %></p>
        <% if @user.age.present? %>
          <p><span class='info'>年齢 :</span> <%= @user.age %></p>
        <%end%>
        <% if @user.gender.present?%>
          <p><span class='info'>性別 :</span> <%= @user.gender %></p>
        <% end %>
      </div>
    </div>
    <div class="right-content">
      <div class="diary-list">
        <p> 投稿日記 </p>
        <%= link_to 'ルーム作成', new_room_path %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>

