<div class='header-top-lain'>
</div>
<header class='my-page-header'>
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <ul class='right-list'>
    <% if user_signed_in? %>
      <ul class='right-list'>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "link"%></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </li>
    <% else %>
      <ul class='left-list'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "link" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "link" %></li>
      </ul>
    <% end %>
</header>