<header class='header'>
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <div class='left-list'>
  </div>
  <div class='center-list'>
    <% if user_signed_in? %>
      <%= link_to image_tag("home_icon.png", class: "home-icon"), user_path(current_user)%>
      <%= link_to image_tag("message_icon.png", class: "message-icon"), rooms_path %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class='right-list' id='right-list'><%= current_user.nickname %></div>
      <ul class='pull-down' id='pull-down'>
        <li><%= link_to 'マイページ', user_path(current_user), class:'header-link' %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-link' %></li>
      </ul>
  <% else %>
    <div class='right-list'>
      <div><%= link_to 'ログイン', new_user_session_path, class: 'header-link' %></li>
      <div><%= link_to '新規登録', new_user_registration_path, class: 'header-link' %></li>
    </div>
  <% end %>
</header>