<div class='new-room-page'>
  <div class='new-room'>
    <p class='page-name'>新規ルーム</p>
    <div class='page-form'>
      <%= form_with model: @room, local: true do |f| %>
        <div class='form-group'>
          <div class='form-text-rap'>
              <label class='form'>ルーム名</label>
              <span class="indispensable">(必須)</span> 
          </div>
            <%= f.text_field :name %>
          
            <div class='form-text-rap'>
              <label class='form'>参加者リスト</label>
              <span class="indispensable">(必須)</span>
              <%= f.select :list_id, @lists.map { |list| [ list.list_name, list.id] }, { include_blank: 'リスト選択' } %>
            </div>
            <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>